* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  margin: 40px 375px 84px;
}
.header__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16.41px;
}
.section-first__content {
  margin-left: 373px;
}

.section-first__content img {
  margin-left: 39px;
}
.section-first__info-header {
  width: 522px;
  font-weight: bold;
  font-size: 60px;
  line-height: 70.31px;
}

.section-first__info-text {
  margin: 17px 0 37px;
  width: 466px;
  font-size: 20px;
  line-height: 23.44px;
}

.section-first__buttons {
  margin-bottom: 162px;
  font-size: 15px;
  line-height: 17.58px;
}
.btn {
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: #f25822;
  color: #fff;
  font-size: 15px;
  line-height: 17.58px;
}

.section-first__buttons-descriptions {
  margin-left: 108px;
}

.list-logo {
  margin-left: 345px;
  height: 243px;
}

.list-logo__item {
  margin-right: 48px;
}
