$colorPrimary: #CDA274;
$colorPrimary2: #292F36;
$colorPrimary3: #F4F0EC;
$colorText: #1B2534;
$colorTextGrey: #606060;
$colorTextGrey2: #4D5053;
$width: 1200px;


@mixin fontStyle($ff, $size, $color, $width: 400) {
  font-family: $ff, sans-serif;
  font-weight: $width;
  line-height: normal;
  font-style: normal;
  font-size: $size;
  color: $color;
}

@mixin btn() {
  padding: 26px 54px;
  border-radius: 18px;
  border: none;
  box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
  background: $colorPrimary2;
  color: #fff;
}