body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hw1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    border: 1px solid cadetblue;
    border-radius: 5px;
}
#from {
    margin-bottom: 10px;
}
.messageBtn {
    margin-top: 20px;
}
.message {
    visibility: hidden;
}
.animate_animated {

}

.form {
    padding: 20px 15px;
    border: 2px solid cadetblue;
    border-radius: 5px;
}
.error {
    border: 2px solid red;
}
.error:focus {
    background-color: red;
}