@font-face {
  font-family: "latoregular";
  src: url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

summary {
  display: block;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-centr {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 75px;
  background: #222;
  padding: 0 calc(50% - 570px);
  position: relative;
}
.header svg:hover path {
  fill: #f16d7f;
}
.header__left-item {
  margin-right: 41px;
}
.header__left-item:last-child {
  margin-right: 0;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__right-item {
  margin-right: 25px;
}
.header__right-item:last-child {
  margin-right: 0;
  position: relative;
}
.header__right-item:last-child::after {
  content: "";
  top: -5px;
  left: 20px;
  position: absolute;
  background: #f16d7f;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 19px;
}
.header__right #burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
.header__right #burger:checked .menu {
  display: block;
}
.header__right .menu {
  display: none;
  position: absolute;
  width: 232px;
  background-color: #fff;
  top: 75px;
  right: 0;
  z-index: 1;
  padding: 32px 0 12px 33px;
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__right .menu__title {
  margin-bottom: 24px;
  color: #000;
  font-weight: 700;
}
.header__right .menu__sub-title {
  color: #f16d7f;
  margin-bottom: 12px;
}
.header__right .menu__item {
  margin-bottom: 11px;
  margin-left: 21.5px;
  list-style-type: none;
}
.header__right .menu__item:last-child {
  margin-bottom: 20px;
}

@media (max-width: 1156px) {
  .header {
    height: 74px;
    padding: 0 calc(50% - 352px);
  }
  .header__right-item {
    margin-right: 25px;
  }
  .header__right-item:nth-child(2) {
    margin-right: 42px;
  }
  .header__right-item:last-child {
    margin-right: 9.01px;
  }
}
@media (max-width: 1156px) {
  .header {
    padding: 0 calc(50% - 171.5px);
  }
  .header__right-item {
    margin-right: 10px;
  }
  .header__right-item:nth-child(2), .header__right-item:last-child {
    display: none;
  }
}
.btn {
  padding: 15px 39px;
  display: block;
  background-color: #fff;
  color: #f26376;
  font-family: "latoregular", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #f26376;
}

.main {
  background-color: #f1e4e6;
  position: relative;
}
.main__left {
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main__left > img {
  width: 50vw;
}
.main__right {
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main__band {
  margin-left: 63.42px;
  margin-right: 16px;
  height: 92px;
  width: 12px;
  background: #f16d7f;
}
.main__title {
  color: #222;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.main__title > span {
  font-size: 32px;
  font-weight: 700;
}
.main__title-red {
  color: #f16d7f;
}

.special {
  padding-top: 65px;
  margin-bottom: 96px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 65px calc(50% - 570px) 0;
}
.special__link {
  background-size: auto, cover;
  background-position: center;
  height: 260px;
  width: 360px;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.special__link > span {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
}

.women {
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(/img/women.png);
}

.men {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(/img/men.png);
}

.kids {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(/img/kids.png);
}

.accesories {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(/img/accesori.png);
  height: 180px;
  width: 1140px;
}

.fetured {
  padding: 0 calc(50% - 570px);
}
.fetured__header {
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
  text-align: center;
}
.fetured__sub-header {
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 49px;
}
.fetured__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  margin-bottom: 48px;
}
.fetured__item {
  width: 31.578947%;
  background-color: #f8f8f8;
}
.fetured__item > img {
  width: 100%;
  margin-bottom: 25px;
}
.fetured__item-head {
  padding-left: 18px;
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12.65px;
}
.fetured__item-desc {
  padding-left: 16.45px;
  color: #5d5d5d;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 306px;
  margin-bottom: 18px;
}
.fetured__item-price {
  padding-left: 18.41px;
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
.fetured__btn {
  display: block;
  margin-top: 18px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  width: 212px;
  height: 48px;
  color: #f26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #f26376;
}

.properties {
  background: #222224;
  padding: 104px calc(50% - 570px);
  display: flex;
}
.properties__item {
  text-align: center;
}
.properties__item-img {
  margin-bottom: 19px;
}
.properties__item:first-child .properties__item-img {
  margin-bottom: 28px;
}
.properties__item:last-child img {
  margin-bottom: 25px;
}
.properties__item-title {
  margin-bottom: 16px;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #f1e4e6;
}
.properties__item-desc {
  padding-left: 27px;
  padding-right: 27px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #f1e4e6;
}

@media (max-width: 1156px) {
  .main__band {
    margin-left: 40px;
  }
  .main__title {
    font-size: 44px;
  }
  .main__title > span {
    font-size: 24px;
  }
  .special {
    padding: 19.95px calc(50% - 384px) 0;
    margin-bottom: 154.92px;
    gap: 19px;
  }
  .special__link {
    height: 167px;
    width: 232px;
  }
  .accesories {
    height: 167px;
    width: 736px;
  }
  .fetured {
    padding: 0 calc(50% - 368px);
  }
  .fetured__header {
    margin-bottom: 3.3px;
  }
  .fetured__sub-header {
    margin-bottom: 73.74px;
  }
  .fetured__items {
    gap: 16px;
    margin-bottom: 32.48px;
  }
  .fetured__item {
    width: calc((100% - 16px) / 2);
  }
  .fetured__item > img {
    margin-bottom: 25.35px;
  }
  .fetured__btn {
    margin-bottom: 64.52px;
  }
  .properties {
    padding-top: 48.16px;
    padding-bottom: 15.63px;
    flex-direction: column;
    align-items: center;
  }
  .properties__item {
    max-width: 419px;
  }
  .properties__item-title {
    line-height: normal;
  }
  .properties__item-desc {
    line-height: normal;
    margin-bottom: 48.37px;
  }
}
@media (max-width: 425px) {
  .main {
    display: block;
  }
  .main__left {
    display: none;
  }
  .main__band {
    margin-left: 40px;
  }
  .main__right {
    width: 100%;
    height: 363px;
    justify-content: center;
  }
  .main__title {
    font-size: 38px;
  }
  .main__title > span {
    font-size: 20px;
  }
  .special {
    padding: 64px calc(50% - 171.5px);
    margin-bottom: 0;
    gap: 32px;
  }
  .special__link {
    height: 247px;
    width: 100%;
  }
  .accesories {
    height: 111px;
  }
  .fetured {
    padding: 0 calc(50% - 171.5px);
  }
  .fetured__sub-header {
    margin-bottom: 64.7px;
  }
  .fetured__items {
    margin-bottom: 40.61px;
  }
  .fetured__item {
    width: calc(100% - 16px);
  }
  .fetured__item > img {
    margin-bottom: 0;
  }
  .fetured__btn {
    margin-bottom: 96px;
  }
  .properties {
    padding-top: 48.16px;
    padding-bottom: 15.63px;
    flex-direction: column;
    align-items: center;
  }
  .properties__item {
    max-width: 419px;
  }
  .properties__item-title {
    line-height: normal;
  }
  .properties__item-desc {
    line-height: normal;
    margin-bottom: 48.37px;
  }
}
.filter-sort {
  height: 132px;
  padding: 39px calc(50% - 570px) 0;
  display: flex;
  gap: 30px;
  position: relative;
}

.filter {
  padding-top: 13px;
  width: 360px;
  z-index: 1;
}
.filter__content {
  background-color: #fff;
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
  margin-bottom: 16px;
  list-style: none;
  color: #000;
  font-family: "latoregular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.filter[open] {
  background-color: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #f16d7f;
}
.filter[open] path {
  fill: #f16d7f;
}
.filter-item {
  margin-top: 16px;
}
.filter-item[open] .filter__head {
  color: #f16d7f;
}
.filter__head {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #f16d7f;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  color: #636363;
  font-family: "latoregular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter__link:hover {
  color: #f16d7f;
  cursor: pointer;
}

.sort {
  display: flex;
  padding-top: 12px;
  gap: 27.98px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__heading {
  color: #6f6e6e;
  font-family: "latoregular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: -9px;
  top: 22px;
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  color: #6f6e6e;
  font-family: "latoregular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 17px;
}

.fetured__catalog {
  margin-bottom: 188px;
}

@media (max-width: 1156px) {
  .top-head {
    padding: 0 calc(50% - 368px);
  }
  .filter-sort {
    height: 81px;
    padding: 11px calc(50% - 384px) 0;
    justify-content: space-between;
  }
  .sort {
    padding-right: 16px;
  }
  .fetured__catalog {
    margin-bottom: 147px;
  }
}
@media (max-width: 425px) {
  .top-head_mb {
    padding: 24px 0 46px;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
  }
  .filter {
    padding-top: 24px;
  }
  .filter-sort {
    padding: 0 calc(50% - 179.5px);
    gap: normal;
    justify-content: space-between;
  }
  .filter__heading {
    display: none;
  }
  .filter__svg {
    height: 25px;
    width: 37.5px;
  }
  .sort {
    padding-top: 26px;
    padding-right: 0;
    gap: 23.98px;
    position: absolute;
    top: 0;
    right: 8px;
  }
  .sort__heading {
    font-size: 12px;
  }
  .sort__summary {
    gap: 9px;
  }
  .fetured__catalog {
    margin-bottom: 147px;
  }
}
.top-head {
  height: 148px;
  background: #f8f3f4;
  padding: 0 calc(50% - 570px);
}
.top-head__left-link {
  color: #f16d7f;
  font-family: "latoregular", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.top-head__right-link {
  color: #636363;
  font-family: "latoregular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
}
.top-head__right-link:not(:last-child)::after {
  padding: 0 6px;
  content: "/";
}
.top-head__right-link:last-child {
  color: #f16d7f;
  font-family: "latoregular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.carousel {
  padding: 11px 0 42px;
  background-color: #f7f7f7;
}
.carousel-inner {
  width: 597px;
  height: 724px;
}
.carousel-control-prev {
  justify-content: start;
}
.carousel-control-prev-iconMy {
  padding: 8px;
  height: 47px;
  width: 47px;
  background-color: rgba(42, 42, 42, 0.15);
}
.carousel-control-prev-iconMy:hover path {
  fill: #f16d7f;
}
.carousel-control-next {
  justify-content: end;
}
.carousel-control-next-iconMy {
  padding: 8px;
  height: 47px;
  width: 47px;
  background-color: rgba(42, 42, 42, 0.15);
}
.carousel-control-next-iconMy:hover path {
  fill: #f16d7f;
}

.product {
  position: absolute;
  top: -65px;
  padding: 64.5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  z-index: 1;
  width: 1140px;
  border: 1px solid #eaeaea;
}
.product__wrapper {
  position: relative;
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  height: 601px;
  padding: 0 calc(50% - 570px);
}
.product__subtitle {
  color: #f16d7f;
  font-family: "latoregular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product__between-headers {
  margin: 12.1px 0;
}
.product__title {
  color: #4d4d4d;
  font-family: "latoregular", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 48.41px;
}
.product__desc {
  margin-bottom: 32.27px;
  max-width: 528px;
  color: #5e5e5e;
  font-family: "latoregular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}
.product__price {
  margin-bottom: 65.04px;
  color: #ef5b70;
  font-family: "latoregular", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product__strip-before-sorting {
  margin-bottom: 65.05px;
}
.product__sort {
  display: flex;
  gap: 22.98px;
  margin-bottom: 48.41px;
}
.product__sort-item {
  color: #6f6e6e;
  font-family: "latoregular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product__sort-item_summary {
  list-style: none;
}
.product__sort-open {
  margin-left: 9px;
}
.product__btn {
  text-align: start;
}
.product__btn-icon {
  margin-left: 24px;
  margin-right: 22.99px;
}
.product__btn:hover {
  background-color: #f16d7f;
  color: #fff;
}
.product__btn:hover path {
  fill: #fff;
}

.fetured__product {
  margin-bottom: 128px;
}

@media (max-width: 1156px) {
  .carousel {
    padding: 29.6px 0 28.6px;
  }
  .carousel-inner {
    width: 466px;
    height: 565px;
  }
  .product {
    position: static;
    top: 0;
    width: 768px;
  }
  .product__wrapper {
    padding: 0 calc(50% - 384px);
  }
  .product__desc {
    max-width: 564px;
  }
}
@media (max-width: 425px) {
  .carousel {
    padding: 85px 0;
  }
  .product {
    width: 375px;
  }
  .product__wrapper {
    padding: 0 calc(50% - 187.5px);
  }
  .product__title {
    margin-bottom: 31.9px;
  }
  .product__desc {
    max-width: 326px;
    margin-bottom: 31.91px;
  }
  .product__strip-before-sorting {
    margin-bottom: 49.36px;
  }
  .product__sort {
    gap: 24.98px;
    margin-bottom: 64.55px;
  }
  .product__sort-item {
    font-size: 10px;
  }
  .product__sort-open {
    margin-left: 9px;
  }
}
.cart {
  padding: 96px calc(50% - 570px) 128px;
  display: flex;
  justify-content: space-between;
}
.cart__cards {
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.cart__cards-item {
  position: relative;
  display: flex;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.cart__cards-desc {
  width: 359px;
  padding: 22px 22px 62px 31px;
}
.cart__cards-title {
  margin-bottom: 42px;
  width: 211px;
  color: #222;
  font-family: "latoregular", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__cards-price, .cart__cards-color, .cart__cards-size, .cart__cards-quantity {
  margin-bottom: 6px;
  color: #575757;
  font-family: "latoregular", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__cards-price span {
  color: #ef5b70;
}
.cart__cards-quantity input {
  width: 44px;
  height: 25px;
  text-align: center;
}
.cart__cards-close {
  position: absolute;
  top: 28px;
  right: 22px;
}
.cart__cards-btn-block {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}
.cart__cards-btn {
  width: 225px;
  height: 50px;
  color: #000;
  font-family: "latoregular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-color: #fff;
  border: 1px solid #a4a4a4;
}
.cart__cards-btn:hover {
  background-color: #f16d7f;
  color: #fff;
}
.cart__form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 57px;
  padding-top: 17px;
}
.cart__form {
  display: flex;
  flex-direction: column;
  gap: 20.5px;
  width: 360px;
}
.cart__form-title {
  color: #222;
  font-family: "latoregular", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart__form-input {
  height: 45px;
  padding: 13px 17.24px 16px;
  border: 1px solid #a4a4a4;
}
.cart__form-btn {
  margin-top: 2px;
  width: 101.5px;
  height: 35px;
  color: #000;
  font-family: "latoregular", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-color: #fff;
  border: 1px solid #a4a4a4;
}
.cart__form-info {
  padding: 39px 34px 42px 44px;
  background-color: #f5f3f3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart__form-sub-total {
  margin-bottom: 12px;
  color: #4a4a4a;
  font-family: "latoregular", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__form-sub-total-value {
  margin-left: 15px;
}
.cart__form-grand-total {
  color: #222;
  font-family: "latoregular", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 21px;
}
.cart__form-grand-total-value {
  margin-left: 15px;
  color: #f16d7f;
}
.cart__form-info-btn {
  width: 273px;
  height: 50px;
  color: #fff;
  font-family: "latoregular", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-color: #f16d7f;
  border: none;
}
.cart__form-info-btn:hover {
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.cart__form-line {
  margin-bottom: 17px;
}

@media (max-width: 1156px) {
  .cart {
    padding: 59px calc(50% - 368px) 128px;
    flex-direction: column;
    justify-content: center;
  }
  .cart__cards-btn-block {
    margin: 31px 0 64px;
    justify-content: center;
    gap: 48px;
  }
  .cart__cards-btn {
    width: 225px;
    height: 50px;
  }
  .cart__form-wrapper {
    flex-direction: row;
    gap: 15.51px;
    padding-top: 0;
  }
}
@media (max-width: 425px) {
  .cart {
    padding: 39px calc(50% - 178.5px) 96px;
  }
  .cart__cards-img {
    width: 144px;
    height: 193px;
  }
  .cart__cards-desc {
    width: 100%;
    padding: 13.52px 22px 38px 17px;
  }
  .cart__cards-title {
    margin-bottom: 25.85px;
    width: 140px;
    font-size: 16px;
  }
  .cart__cards-price, .cart__cards-color, .cart__cards-size, .cart__cards-quantity {
    margin-bottom: 4px;
    font-size: 14px;
  }
  .cart__cards-quantity input {
    width: 24px;
    height: 15px;
  }
  .cart__cards-close {
    top: 17px;
    right: 12px;
    width: 9.8px;
    height: 11px;
  }
  .cart__cards-btn-block {
    margin: 31px 0 64px;
    justify-content: center;
    gap: 48px;
  }
  .cart__cards-btn {
    width: 225px;
    height: 50px;
  }
  .cart__form-wrapper {
    flex-direction: column;
    gap: 15.51px;
    padding-top: 0;
  }
}
.registration {
  padding: 64px calc(50% - 570px) 94px;
  display: flex;
  justify-content: space-between;
}
.registration-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 360px;
}
.registration-form__title {
  margin-bottom: 20px;
  color: #222;
  font-family: "latoregular", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration-form__input {
  margin-bottom: 20px;
  width: 100%;
  padding: 13px 17.24px 16px;
  color: #b1b1b1;
  font-family: "latoregular", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration-form__input:last-of-type {
  margin-bottom: 15px;
}
.registration-form__gender {
  margin: 11px 0 31px;
  display: flex;
  align-items: center;
}
.registration-form__radio {
  margin-right: 10px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.registration-form__radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #a4a4a4;
}
.registration-form__radio:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #a4a4a4;
  transform: translate(-50%, -50%);
  visibility: visible;
}
.registration-form__lable-radio {
  margin-right: 20px;
  color: #000;
  font-family: "latoregular", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
}
.registration-form__clue {
  margin-bottom: 39px;
  color: #b1b1b1;
  font-family: "latoregular", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration-form__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16.2px 30px 16.2px 29px;
  background-color: #f16d7f;
  color: #fff;
  font-family: "latoregular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid transparent;
}
.registration-form__btn-icon {
  margin-left: 20px;
}
.registration-form__btn:hover {
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.registration-form__btn:hover path {
  fill: #f16d7f;
}

.advertising__text {
  max-width: 652px;
  color: #000;
  font-family: "latoregular", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  list-style-type: none;
}
.advertising__text_mb22 {
  margin-bottom: 22px;
}
.advertising__text_mb21 {
  margin-bottom: 21px;
}
.advertising__text_mb16 {
  margin-bottom: 16px;
}
.advertising__icon {
  margin-right: 23.08px;
}

@media (max-width: 1156px) {
  .registration {
    padding: 40px calc(50% - 368px) 94px;
    gap: 22px;
  }
  .registration .advertising__text {
    min-width: 354px;
    color: #000;
    font-family: "latoregular", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .registration .advertising__text_mb22 {
    margin-bottom: 32px;
  }
  .registration .advertising__text_mb21 {
    margin-bottom: 22px;
  }
  .registration .advertising__icon {
    margin-right: 22px;
  }
}
@media (max-width: 425px) {
  .registration {
    padding: 40px calc(50% - 179.5px) 100px;
    gap: 40px;
    flex-direction: column;
  }
  .registration .advertising__text {
    font-size: 16px;
  }
  .registration .advertising__text_mb22 {
    margin-bottom: 32px;
  }
  .registration .advertising__text_mb21 {
    margin-bottom: 22px;
  }
  .registration .advertising__icon {
    margin-right: 22px;
  }
}
.subscribe {
  padding: 0 calc(50% - 570px);
  height: 448px;
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(/img/Layer_41.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}
.subscribe__wrapper {
  display: flex;
  padding-left: 0 calc(50% - 570px);
}
.subscribe__left {
  margin-right: 223px;
  padding-top: 96px;
  text-align: center;
}
.subscribe__left img {
  margin-bottom: 30px;
  height: 96px;
  width: 96px;
}
.subscribe__left p {
  max-width: 360px;
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subscribe__left span {
  font-style: italic;
}
.subscribe__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  max-width: 557px;
  text-align: center;
}
.subscribe__title {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40.128px;
}
.subscribe__title span {
  font-size: 18px;
  font-weight: 400;
}
.subscribe__right input {
  max-width: 256px;
  height: 50px;
  flex-shrink: 0;
  fill: #e1e1e1;
  border: none;
}
.subscribe__form {
  display: flex;
}
.subscribe__right input:first-child {
  padding-left: 20px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  background-color: rgb(225, 225, 225);
}
.subscribe__right .btn {
  width: 100px;
  height: 50px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background-color: rgb(241, 109, 127);
}
.subscribe__btn {
  background-color: #f16d7f;
  color: #fff;
}

.footer {
  min-height: 79px;
  background-color: #222224;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__left {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__right {
  display: flex;
  gap: 7.29px;
}
.footer__icon-wrapper {
  height: 32px;
  width: 31.45059px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1156px) {
  .subscribe {
    padding: 64px 0 219px;
    height: 100%;
  }
  .subscribe__wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .subscribe__left {
    margin-right: 0;
    padding: 0;
    margin-bottom: 48px;
  }
  .subscribe__left p {
    height: 99px;
  }
  .subscribe__right {
    padding-top: 0;
  }
  .subscribe__btn {
    background-color: #f16d7f;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .footer {
    padding-left: calc(50% - 352px);
    padding-right: calc(50% - 352px);
  }
}
@media (max-width: 425px) {
  .subscribe {
    padding: 64px 0 110px;
    height: 100%;
  }
  .subscribe__left {
    margin-right: 0;
    padding: 0;
    margin-bottom: 59px;
  }
  .footer {
    padding: 43px calc(50% - 155.5px) 9px;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }
}/*# sourceMappingURL=style.css.map */