* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
li {
    list-style-type: none;
}
.header {
    height: 75px;
    background: #222;
    padding-left: calc(50% - 564.5px);
    padding-right: calc(50% - 564.5px);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-centr {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__left-item {
    margin-right: 41px;
}
.header__left-item:last-child {
    margin-right: 0;
}

.header__right {
    display: flex;
    align-items: center;
    position: relative;
}
.header__right-item {
    margin-right: 25px;
}

.header__right-item:last-child {
    margin-right: 0;
}

.header__right-item:last-child::after {
    content: "5";
    top: -5px;
    left: 133px;
    position: absolute;
    background: #f16d7f;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 19px;
}
.open-menu:hover path {
    fill: #f16d7f;
}
.open-menu:hover ~ .menu {
    display: block;
}
.menu {
    display: none;
    position: fixed;
    width: 232px;
    background-color: #fff;
    top: 75px;
    right: 0;
    z-index: 1;
    padding: 32px 0 12px 33px;
    color: #6f6e6e;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.menu__title {
    margin-bottom: 24px;
    color: #000;
    font-weight: 700;
}
.menu p {
    color: #f16d7f;
    margin-bottom: 12px;
}
.menu li {
    margin-bottom: 11px;
    margin-left: 21.5px;
}
.menu li:last-child {
    margin-bottom: 20px;
}
.main {
    background-color: #f1e4e6;
    position: relative;
}
.main__left {
    width: calc(100vw / 2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main__left > img {
    width: calc(100vw / 2);
}
.main__right {
    width: calc(100vw / 2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main__band {
    margin-left: 63.42px;
    margin-right: 16px;
    height: 92px;
    width: 12px;
    background: #f16d7f;
}

.main__title {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.main__title > span {
    font-size: 32px;
    font-weight: 700;
}
.main__title-red {
    color: #f16d7f;
}
.special {
    padding-top: 65px;
    margin-bottom: 96px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.special__link {
    background-size: auto, cover;
    background-position: center;
    height: 260px;
    width: 360px;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.special__link > span {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 700;
}
.women {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)),
        url(./img/women.png);
}
.men {
    background-image: linear-gradient(
            rgba(33, 22, 22, 0.7),
            rgba(33, 22, 22, 0.7)
        ),
        url(./img/men.png);
}
.kids {
    background-image: linear-gradient(
            rgba(33, 22, 22, 0.7),
            rgba(33, 22, 22, 0.7)
        ),
        url(./img/kids.png);
}
.accesories {
    background-image: linear-gradient(
            rgba(33, 22, 22, 0.7),
            rgba(33, 22, 22, 0.7)
        ),
        url(./img/accesori.png);
    height: 180px;
    width: 1140px;
}
.fetured {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}
.fetured__header {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
    text-align: center;
}
.fetured__sub-header {
    color: #9f9f9f;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 49px;
}
.fetured__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item {
    width: 31.578947%;
}
.item > img {
    width: 100%;
    margin-bottom: 25px;
}

.item-head {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12.65px;
}

.desc {
    color: #5d5d5d;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 306px;
    margin-bottom: 18px;
}
.price {
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
}
.all-product {
    display: block;
    margin-top: 18px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    width: 212px;
    height: 48px;
    color: #f26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #f26376;
}

.properties {
    height: 341px;
    background: #222224;
    padding-top: 104px;
    padding-bottom: 104px;
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    display: flex;
}
.properties__item {
    height: 134px;
    width: 360px;
    text-align: center;
}
.properties__item img {
    margin-bottom: 19px;
}
.properties__item:first-child img {
    margin-bottom: 28px;
}
.properties__item:last-child img {
    margin-bottom: 25px;
}
.properties__item h3 {
    margin-bottom: 16px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #f1e4e6;
}
.properties__item p {
    padding-left: 27px;
    padding-right: 27px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #f1e4e6;
}
.subscribe {
    margin-left: auto;
    margin-right: auto;
    height: 448px;
    background-image: linear-gradient(
            rgba(244, 244, 244, 0.7),
            rgba(244, 244, 244, 0.7)
        ),
        url(./img/Layer\ 41.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
}
.subscribe__wrapper {
    display: flex;
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}
.subscribe__left {
    margin-right: 223px;
    padding-top: 96px;
    text-align: center;
}
.subscribe__left img {
    margin-bottom: 30px;
    height: 96px;
    width: 96px;
}
.subscribe__left p {
    max-width: 360px;
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.subscribe__left span {
    font-style: italic;
}
.subscribe__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    width: 557px;
    text-align: center;
}
.subscribe__title {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40.128px;
}
.subscribe__title span {
    font-size: 18px;
    font-weight: 400;
}
.subscribe__right input {
    width: 256px;
    height: 50px;
    flex-shrink: 0;
    fill: #e1e1e1;
    border: none;
}
form {
    display: flex;
}
.subscribe__right input:first-child {
    padding-left: 20px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgba(225, 225, 225, 1);
}
.subscribe__right .btn {
    width: 100px;
    height: 50px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgba(241, 109, 127, 1);
}
.footer {
    height: 79px;
    background-color: #222224;
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__left {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer__right {
    display: flex;
    gap: 7.29px;
}
.footer__icon-wrapper {
    height: 32px;
    width: 31.45059px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1145px) {
    .header {
        padding-left: calc(50% - 502px);
        padding-right: calc(50% - 502px);
    }
    .fetured {
        padding-left: calc(50% - 496px);
        padding-right: calc(50% - 496px);
    }
    .special__link {
        height: 260px;
        width: 310px;
    }
    .accesories {
        width: 992px;
    }
    .footer {
        /* padding-left: calc(50% - 502px);
        padding-right: calc(50% - 502px); */
        justify-content: space-around;
    }
}
@media (max-width: 1024px) {
    .header {
        height: 74px;
        padding-left: calc(50% - 352px);
        padding-right: calc(50% - 352px);
    }
    /* .main__left > img {
        width: 386px;
    } */
    /* .main__right {
        width: 382px;
    } */

    .main__band {
        margin-left: 39px;
    }
    .main__title {
        font-size: 44px;
    }
    .main__title > span {
        font-size: 24px;
    }
    .special {
        padding-top: 64.95px;
        margin-bottom: 109.92px;
        gap: 19.9px;
        justify-content: center;
    }
    .special__link {
        height: 167px;
        width: 231px;
    }
    .accesories {
        height: 116px;
        width: 732.8px;
    }

    .featured__header {
        margin-bottom: 3.3px;
    }
    .featured__sub-header {
        margin-bottom: 73.74px;
    }
    .item {
        width: 360px;
    }
    .item > img {
        width: 360px;
        margin-bottom: 25.35px;
    }
    .price {
        margin-bottom: 20px;
    }
    .all-product {
        display: block;
        margin-top: 32.48px;
        margin-bottom: 70.52px;
    }
    .footer {
        /* padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px); */
    }
}

@media (max-width: 768px) {
    .header {
        padding-left: calc(50% - 156px);
        padding-right: calc(50% - 156px);
    }

    .header__right-item {
        margin-right: 0;
    }
    .header__right-item:not(:first-child) {
        display: none;
    }
    .main__left {
        display: none;
    }
    .main__right {
        height: 363px;
        display: flex;
        justify-content: center;
    }
    .main__band {
        margin-left: 0;
        margin-right: 15px;
    }
    .main__title {
        font-size: 38px;
    }
    .main__title > span {
        font-size: 18px;
    }
    .special {
        padding: 64px 0 0;
        margin-bottom: 64px;
        gap: 32px;
    }
    .special__link {
        height: 247px;
        width: 343px;
    }
    .accesories {
        height: 111px;
        line-height: 19.2px;
    }
    .special__link > span {
        line-height: 28.8px;
    }

    .featured__sub-header {
        margin-bottom: 64.7px;
    }

    .item > img {
        margin-bottom: 25.28px;
    }
    .price {
        margin-bottom: 35px;
    }
    .all-product {
        margin-top: 40.61px;
        margin-bottom: 85px;
    }
    .properties {
        height: 610px;
        flex-direction: column;
        align-items: center;
        padding-top: 48px;
        padding-bottom: 16px;
    }
    .properties__item {
        margin-bottom: 48px;
    }

    .subscribe {
        height: 614px;
        background-position-x: 25%;
    }
    .subscribe__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subscribe__left {
        margin-right: 0;
        padding-top: 64px;
    }
    .subscribe__left p {
        margin-bottom: 48px;
    }

    .subscribe__right {
        padding-top: 0;
        width: 100%;
    }
    .subscribe__title {
        margin-bottom: 27px;
    }
    .footer {
        /* padding-left: calc(50% - 502px);
        padding-right: calc(50% - 502px); */
    }
}
@media (max-width: 375px) {
    .subscribe {
        height: 550px;
    }
    .subscribe__left img {
        height: 91.7px;
        width: 91.7px;
    }
    .subscribe__left p {
        margin-bottom: 59px;
        max-width: 341px;
        font-size: 18px;
    }
    .subscribe__title {
        margin-bottom: 27px;
        line-height: 26.768px;
    }
    .subscribe__title span {
        font-size: 14px;
    }
    .subscribe__right input {
        width: 250px;
        height: 47px;
    }
}
@media (max-width: 425px) {
    .footer {
        height: 143px;
        padding: 0;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
        gap: 40px;
    }
    .footer__left {
        margin-bottom: 9px;
    }
}
