.header {
  margin: 44px auto 57px;
  max-width: $width;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  width: 177px;
  height: 50px;
}

.header__nav {
  display: flex;
  gap: 45px;
  font-family: jost, sans-serif;
}

.btn {
  @include btn();
}