@import "./variables";

.btn-menu {
  margin: 0 auto 61px;
  display: table;
  text-align: center;
  border: 1px solid $colorPrimary;
  border-radius: 18px;
}

.btn {
  padding: 26px 54px;
  border-radius: 18px;
  border: none;
  font-family: Jost sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  cursor: pointer;

  &_black {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: $colorPrimary2;
    color: white;
  }

  &_white {
    background-color: white;
    color: $colorPrimary2;

    &:hover {
      background-color: $colorPrimary;
      color: white;
    }
  }

  &__pagination {
    width: 52px;
    height: 52px;
    border: 1px solid $colorPrimary;
    border-radius: 50%;
    font-family: Jost sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: $colorPrimary2;
  }
  &_orange {
    background-color: $colorPrimary;
  }
}
