// .summary {
//     list-style: none;
//     &::after {
//         // content: "→";
//     }
//     summary[open] .summary::after {
//         // content: "\1F817";
//     }
// }
summary {
    list-style: none;
}

.contener-detail {
    display: flex;
    justify-content: flex-start;
    gap: 330px;

    .sort {
        display: flex;
        gap: 48px;

        .wrap_size {
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            padding: 9px 30px 12px 9px;
            background: #fff;
            box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
            gap: 6px;
        }
    }
}

svg {
    margin-left: 10px;
}
