@import "./var";
@import "./mixins";

.filter-sort {
    height: 132px;
    padding: 39px calc(50% - $widthSite / 2) 0;
    display: flex;
    gap: 30px;
    position: relative;
}

.filter {
    padding-top: 13px;
    width: 360px;

    z-index: 1;

    &__content {
        background-color: #fff;
        padding: 0 16px 16px;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
        margin-bottom: 16px;
        list-style: none;
        @include fontStyle($colorText5, 14px, 600);
    }

    &__heading {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
    }

    &[open] {
        background-color: #fff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }
    &[open] .filter__heading {
        color: $colorGeneral;
    }
    &[open] path {
        fill: $colorGeneral;
    }

    &-item {
        margin-top: 16px;
    }
    &-item[open] .filter__head {
        color: $colorGeneral;
    }
    &__head {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #ebebeb;
        border-left: 5px solid $colorGeneral;
    }
    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }
    &__link {
        @include fontStyle($colorText, 14px, 400);
        &:hover {
            color: $colorGeneral;
            cursor: pointer;
        }
    }
}

.sort {
    display: flex;
    padding-top: 12px;
    gap: 27.98px;

    &__details {
        position: relative;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__heading {
        @include fontStyle($colorText4, 14px, 400);
    }
    &__box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        left: -9px;
        top: 22px;
        background: #fff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
    }
    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
        @include fontStyle($colorText4, 14px, 400);
        line-height: 17px;
    }
}

.fetured__catalog {
    margin-bottom: 188px;
}
