$colorGeneralBg: #f8f3f4;
$colorGeneral: #f16d7f;
$colorGeneral2: #ef5b70;
$colorTextBtn: #f26376;
$colorText: #636363;
$colorText2: #4d4d4d;
$colorText3: #5e5e5e;
$colorText4: #6f6e6e;
$colorText5: #000;
$widthSite: 1140px;
$widthSiteTablet: 768px;
$widthBurgerMenu: 232px;
